@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-Poppins: var(--font-goppins);
  --font-Goldman: var(--font-goldman);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-Poppins: var(--font-goppins);
  --font-Goldman: var(--font-goldman);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-Poppins: var(--font-goppins);
    --font-Goldman: var(--font-goldman);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}


