@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-Poppins: var(--font-goppins);
  --font-Goldman: var(--font-goldman);
}

@layer utilities {
  .skeleton {
    @apply relative overflow-hidden bg-gray-300 rounded;
  }

  .skeleton::after {
    content: "";
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.3),
      transparent
    );
    animation: shimmer 1.5s infinite;
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease forwards;
}


@theme {
  --color-verde-100: #00d939;
  --color-verde-200: #057333;
  --color-verde-300: #b9f6c5;
  --color-verde-400: #07b335;
  --color-verde-500: #8FF1A6;
  --color-verde-600: #F0FCEC;

  --color-neutras-200: #555555;
  --color-neutras-100: #262626;
  --color-neutras-300: #ffffff;
  --color-neutras-400: #101010;
  --color-neutras-50: #000000;

  --font-Poppins: 'Poppins', sans-serif;
  --font-Poppins-Medium: 'Poppins-Medium', sans-serif;
  --font-Poppins-Semibold: 'Poppins-Semibold', sans-serif;
  --font-Poppins-Bold: 'Poppins-Bold', sans-serif;
  
  --font-GoldMan: 'GoldMan', sans-serif;
  --font-GoldMan-Bold: 'GoldMan-Bold', sans-serif;

}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('../assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Semibold';
  src: url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



@font-face {
  font-family: 'GoldMan';
  src: url('../assets/fonts/Goldman-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GoldMan-Bold';
  src: url('../assets/fonts/Goldman-Bold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}




@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-Poppins: var(--font-goppins);
    --font-Goldman: var(--font-goldman);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;
}


